body{
    margin:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.img{
    width: 150px;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    margin: 0px auto;
    border-bottom: 5px solid #d8cefe;
    background-color: #ddebf8;
}
.text{
    font-size: 20px;
    text-align: center;
    color: #2b2839;
}
/*.border{
    border: 1px solid black;
    }*/